.nav {
    height: 60px;
    background-color: #0b5351;
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}
img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
